.wrapper{
    width: 100%;
    height: 100%;
    background: url(../../assets/img/login-bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.wrapperchild{
    position: absolute;
    top: 20%;
    left: 43.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-one{
   /* width:199px; */
   height:40px;
   font-size:40px;
   font-family:MicrosoftYaHei;
   font-weight:400;
   color:rgb(255, 255, 255);
   line-height:44px;
   margin-bottom: 60px;
}
.top{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content{
  width: 300px;
  padding: 15px 0;
}
.nav-ul{
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-ul li{
  padding: 7px;
  margin: 0 7px;
  list-style: none;
}
.nav-li{
  font-size:16px;
  font-family:MicrosoftYaHei-Bold;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:44px;
  border-bottom: #fff 2px solid;
}
.nav-litwo{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(199,199,199,1);
    line-height:44px;
}
.form{
  position: relative;
  /* height: 100%;
  display: flex;
  flex-direction: row; */
}
.form-first-child{
  position: absolute;
  left:-150px;
}
.choose{
  line-height: 44px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.choose-img{
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.choose-img-one{
  color: #C7C7C7;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

.sp{
  font-size: 20px;
  color: #fff;
}
.wrapperone{
  width:300px;
  height:354px;
  /* margin-left: 60px; */
  border:1px solid rgb(188, 184, 233);
  border-radius:6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .name{
  margin-top:30px;
  margin-bottom: 32px;
}
.password{
  margin-bottom: 15px;
}
.rember{
  line-height: 14px;
  font-size: 14px;
  padding-left: 3px;
  color: #C7C7C7;
}
.name .form-control{
  color: #fff;
  width: 227px;
  height: 41px;
  border: transparent;
  background: rgba(255,255,255,0.1);
}
.name .form-control:focus{
  color: #fff;
  border-color: transparent;
  border: transparent;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 0;
}
.password .form-control{
  color: #fff;
  width: 227px;
  height: 41px;
  border: transparent;
  background: rgba(255,255,255,0.1);
}
.password .form-control:focus{
  color: #fff;
  border-color: transparent;
  border: transparent;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 0;
}
.check{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.checked{
   width: 14px;
   height: 14px;
}
.btn{
 width:227px;
 height:41px;
 margin-top:60px;
 font-size:18px;
 font-weight:400;
 color: #34487A;
 background: #fff;
}

